@import "tailwindcss";

@theme {
  /* Paleta completa institucional de Marcona */
  --color-marcona-50: #f0f7ff;
  --color-marcona-100: #e0effe;
  --color-marcona-200: #bae6fd;
  --color-marcona-300: #7dd3fc;
  --color-marcona-400: #38bdf8;
  --color-marcona-500: #0471e6; /* Tu azul original */
  --color-marcona-600: #025cc7; /* Azul más oscuro para botones */
  --color-marcona-700: #01469e; /* Azul oscuro para el menú lateral */
  --color-marcona-800: #01367a;
  --color-marcona-900: #012a60;
}

/* Estilos globales base (opcional pero recomendado) */
@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
  }
}