# Dependencias (Pesado)
node_modules/
dist/
dist-ssr/
*.local

# Secretos y Configuración (Delicado - ¡NUNCA SUBIR!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# IDEs (VS Code, WebStorm)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend Específico (En tu repo de backend)
uploads/